body {
    background-color: #dfd3e2;
    color: #e0e0e0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board {
  margin-bottom: 20px;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  color: #bb86fc;
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  background: #1f1f1f;
  border: 1px solid #444;
  color: #e0e0e0;
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.square:hover {
  background: #333;
}

.game-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info button {
  background: #333;
  border: none;
  color: #7246a8;
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.game-info button:hover {
  background: #444;
}

h1 {
  color: #000000;   
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.score {
  font-size: 1.5rem;
  margin: 0 15px;
  color: #7013e2;
}
  